*{
   box-sizing: border-box;
}
img{
   vertical-align: middle;
}
body{
   margin: 0px;
}
.container{
   width: 1340px;
   padding: 0px 30px;
   margin: 0px auto;
}

.table{
   border-collapse: collapse;
   margin: 50px auto 0;
}
.table__hidding, .table__data{
   border: 1px solid;
   text-align: center;
   padding: 20px 30px;
}
.table__hidding{
   font-weight: 700;
   font-size: 18px;
}